Source: python-asyncovh
Section: python
Priority: optional
Maintainer: Jonathan Delvaux <github@djoproject.net>
Build-Depends: debhelper (>= 9), dh-python, python3-setuptools, python3-all
Standards-Version: 3.9.5
X-Python3-Version: >= 3.7

Package: python3-asyncovh
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3
Description: Wrapper around OVH's APIs (Python 3)
 Lightweight wrapper around OVH's APIs. Handles all the hard work
 including credential creation and requests signing.
 .
 This package provides Python 3 module bindings only.
